main {
  padding-top: 30px;
}

.align-center {
  text-align: center;
}

ul li {
  list-style-type: none;
}

.signup-to-signin {
  padding: 0;
  margin-top: 10px;
  font-size: 12px;
}

#vote-form .nhl-logo {
  width: 5vw;
  margin-right: 30px;
}

.teams-logo {
  width: 5vw;
}

#vote-form .form-checkbox {
  float: left;
}

#vote-form .invalid-feedback {
  margin-top: 20px;
  color: #ff0000;
  font-weight: bold;
  font-size: 16px;
}

#vote-form .valid-feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid #000;
  padding: 10%;
  font-size: 20px;
  color: #fff;
}

.navbar-brand {
  padding-top: 0 !important;
}

.navbar-nav a {
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 5px;
}

.form-series {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding-bottom: 50px;
}

.form-series-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-series select {
  padding: 0.5rem 20px !important;
  font-size: 20px !important;
}

.series-teams-name {
  font-size: 16px;
  font-weight: 700;
}

.user-series-vote {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-bottom: 50px;
}

.user-series-vote-score {
  font-size: 20px;
}

.user-series-vote-bold {
  font-weight: 700;
}

@media screen and (max-width: 812px) {
  .teams-logo {
    width: 15vw;
  }
}
